.menu-nav {
    transform: translateY(-50%);
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.active-nav {
    transform: translateY(0%);
    transition: 0.3s ease-in all;
    height: auto;
    visibility: visible;
    opacity: 1;
}

/* Achica el modal para la vista en celular */
@media (max-width: 640px) {
    .modal-small {
        min-width: 90vw;
        margin: auto;
    }
}
